*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    outline: none;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("financial-g7302ac610_1280.jpg");
    background-size: cover;
    background-blend-mode: darken;

}

.calculator{
    background-color: rgb(114, 197, 224);
    padding: 15px;
    border-radius: 25px;
    box-shadow: inset 5px 5px 12px rgb(130, 190, 216),
                inset 5px 5px 12px rgba(78, 153, 197, 0.16);
    display: grid;
    grid-template-columns: repeat(4,65px);
}

input{
    padding: 20px;;
    grid-column: span 5;
    height: 70px;
    width: 330px;
    background-color:aliceblue;
    box-shadow: inset -5px -5px 12px aliceblue, 
                inset 5px 5px 12px rgba(0,0,0,0.16);
    border: none;
    border-radius: 30px;  
    color: grey;  
    font-size: 50px;
    text-align: end;
    margin: auto;   
    margin-top: 40px;
    margin-bottom: 30px;    
}               

button{
    height: 60px;
    width: 60px;
    background-color: aliceblue;
    box-shadow: inset -5px -5px 12px aliceblue, 
                inset 5px 5px 12px rgba(0,0,0,0.16);
    border: none;
    border-radius: 15px;
    margin: 5px;
    font-size: 20px;    
    cursor: pointer;
}

.Equal{
    width: 95px;
    margin-left: 35px;
}
.Copy{
    /* margin-left: 45px; */
    width: 90px;
}