* {
  margin: 0;
  padding: 0;
}
#navbar {
  display: flex;
  position: relative;
  align-content: flex-end;
  align-items: center;
  top: 0px;
  padding-bottom: 10px;
  background-color: rgb(92, 92, 230);
  height: 60px;
}

#navbar ul {
  display: flex;
  margin-left: 1160px;
}
#navbar ul li {
  list-style: none;
  font-size: 1.2rem;
}
#navbar ul li a {
  display: block;
  padding: 3px 18px;

  text-decoration: none;
  color: white;
}
#navbar ul li a:hover {
  font-weight: bold;
  background-color: rgb(142, 142, 238);
}

#navbar ul li a:active {
  border-bottom: 3px solid white;
}

#sec1 {
  display: flex;
  justify-content: center;
  height: 300px;
  position: relative;
}
.btn {
  background-color: #4d54ef;
  color: white;
  font-weight: bold;
  height: 40px;
  width: 115px;
  position: relative;
  top: 50%;
  padding: 3px 4px;
  border: 0px;
}
.btn:hover {
  background-color: rgb(142, 142, 238);
  color: white;
  font-weight: bold;
  height: 42px;
  width: 117px;
  position: relative;
  top: 50%;
  padding: 3px 4px;
  border: 0px;
}
#sec1::before {
  content: "";
  position: absolute;
  background: url("Get started img.jpg") no-repeat center center/cover;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: -1;
  opacity: 0.52;
}

.features-title {
  text-align: center;
  color: #808080;
  text-decoration: underline;
  padding: 2%;
}
#sec2 {
  display: flex;
  padding: 0 0 3% 0;
}
.card {
  display: flex;
  justify-content: space-around;
  position: relative;
  padding: 5px;
  justify-content: center;
  padding-left: 95px;
}
.caption {
  display: block;
  font-weight: bold;
  text-align: center;
  color: #808080;
  padding: 1%;
  font-size: 1.1rem;
}
.image {
  display: inline-block;
  position: relative;
  height: 150px;
  width: 225px;
  padding-right: 25px;
}
#img2 {
  padding-right: 85px;
  padding-left: 50px;
  height: 150px;
  width: 225px;
}
#img3 {
  padding-right: 85px;
  padding-left: 50px;
  height: 150px;
  width: 225px;
}
#img4 {
  padding-left: 50px;
}
.v1 {
  display: flex;
  border-left: 4px solid #b8b8b8;
  height: 160px;
  position: relative;
  left: 0%;
  top: 0;
  padding-left: 10px;
}
.v2 {
  display: inline-block;
  border-left: 4px solid #b8b8b8;
  height: 160px;
  position: relative;
  left: 0%;
  top: 0;
  padding-left: 10px;
}
.v3 {
  display: inline-block;
  border-left: 4px solid #b8b8b8;
  height: 160px;
  position: relative;
  left: 0%;

  top: 0;
  padding-left: 10px;
}
footer {
  background-color: rgb(92, 92, 230);
  color: white;
}
#link a {
  color: white;
}
#a1 {
  display: inline;
  color: white;
  padding-right: 3px;
}
#link a:hover {
  background-color: rgb(216, 213, 213);
  color: blue;
  font-style: italic;
}
#link {
  display: inline;
  position: relative;
  left: 73%;
}
