* {
  margin: 0px;
  padding: 0px;
}
#navbar {
  display: flex;
  position: relative;
  align-content: flex-end;
  align-items: center;
  top: 0px;
  padding-bottom: 10px;
  background-color: rgb(92, 92, 230);
  height: 60px;
}

#navbar ul {
  display: flex;
  margin-left: 1160px;
}

#H1 {
  display: block;
  color: white;
  padding-left: 305px;
  margin: 0px -288px;
}
#navbar ul li {
  list-style: none;
  font-size: 1.2rem;
}
#navbar ul li a {
  display: block;
  padding: 3px 18px;
  text-decoration: none;
  color: white;
}
#navbar ul li a:hover {
  font-weight: bold;
  background-color: rgb(142, 142, 238);
}

#navbar ul li a:active {
  border-bottom: 3px solid white;
}

.container1 {
  height: 100%;
}

.sec1 {
  box-sizing: border-box;
  border: 2px solid blue;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 15px;
  margin-right: 100px;
  box-shadow: 5px 10px 3px rgb(161 161 255);
  height: 50px;
  

}

.sec2 {
  box-sizing: border-box;
  border: 2px solid blue;
  margin-top: 15px ;
  margin-bottom: 15px;
  margin-left: 100px;
  margin-right: 15px;
  box-shadow: -5px 10px 3px rgb(161 161 255);
  height: 50px;
}
.sec3 {
  box-sizing: border-box;
  border: 2px solid blue;
  margin-top: 15px ;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 100px;
  box-shadow: 5px 10px 3px rgb(161 161 255);
  height: 50px;
}
.sec4 {
  box-sizing: border-box;
  border: 2px solid blue;
  margin-top: 15px ;
  margin-bottom: 15px;
  margin-left: 100px;
  margin-right: 15px;
  box-shadow: -5px 10px 3px rgb(161 161 255);
  height: 50px;
}
.sec5 {
  box-sizing: border-box;
  border: 2px solid blue;
  margin-top: 15px ;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 100px;
  box-shadow: 5px 10px 3px rgb(161 161 255);
  height: 50px;
}
.sec6 {
  box-sizing: border-box;
  border: 2px solid blue;
  margin-top: 15px ;
  margin-bottom: 15px;
  margin-left: 100px;
  margin-right: 15px;
  box-shadow: -5px 10px 3px rgb(161 161 255);
  height: 50px;
}

footer {
  background-color: rgb(92, 92, 230);
  color: white;
}
#link a {
  color: white;
}
#a1 {
  display: inline;
  color: white;
  padding-right: 3px;
}
#link a:hover {
  background-color: rgb(216, 213, 213);
  color: blue;
  font-style: italic;
}
#link {
  display: inline;
  position: relative;
  left: 73%;
}
