*{
    padding: 0;
    margin: 0;
}
body{
    background-color: white;
}
#navbar {
    display: flex;
    position: relative;
    align-content: flex-end;
    align-items: center;
    top: 0px;
    padding-bottom: 10px;
    background-color: rgb(92, 92, 230);
    height: 60px;
} 
#navbar ul {
    display: flex;
    margin-left: 1160px;
}  
#H1 {
    display: block;
    color: white;
    padding-left: 305px;
    margin: 0px -288px;
    cursor: pointer;
}
#navbar ul li {
    list-style: none;
    font-size: 1.2rem;
}
#navbar ul li a {
    display: block;
    padding: 3px 18px;
    text-decoration: none;
    color: white;
}
#navbar ul li a:hover {
    font-weight: bold;
    background-color: rgb(142, 142, 238);
}
  
#navbar ul li a:active {
    border-bottom: 3px solid white;
}
#sec_h1 {
    text-align: center;
    margin: 15px;
    color: #4141ff;
    text-decoration: underline;
}
span h2 {
    margin: 10px 6px;
    color: #4141ff;
    text-decoration: underline;
    
}
#content {
    color: #4141ff;
}
footer {
    background-color: rgb(92, 92, 230);
    color: white;
    margin-top: 17px;
    bottom: 0px;
}
#link a {
    color: white;
}
#a1 {
    display: inline;
    color: white;
    padding-right: 3px;
}
#link a:hover {
    background-color: rgb(216, 213, 213);
    color: blue;
    font-style: italic;
}
#link {
    display: inline;
    position: relative;
    left: 73%;
}